<div class="container">
	<div class="col-md-12">
		<h1>Publique o que Deus tem dado a Você!</h1>
	</div>

	<div class="col-md-9">
		<header><h3>Livros disponiveis</h3></header>
		<%= render @books %>

	</div>
	<div class="col-md-3">
		<header>
			<a class="btn btn-primary">
				<h3>Quero Publicar</h3>
			</a>
		</header>
	</div>
</div>

